/* Footer */
.footer {
  padding-top: 40px;
  background-color: #232323;
}

.footer__heading {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #c4c4c4;
  margin-bottom: 12px;
}

.footer__subtext {
  margin-top: 14px;
  color: #c4c4c4;
}

.footer-list {
  list-style: none;
}

ul.footer-list {
  padding: 0;
  margin: 0;
}

.footer-item {
  margin: 12px 0;
}

li.footer-item:last-child {
  margin-bottom: 0;
}

.footer-item__link {
  font-size: 12px;
  color: #b8b8b8;
  display: flex;
  align-items: center;
}

.footer-item__link:hover {
  color: red;
}

.footer-item__icon {
  font-size: 1.8rem;
  margin: -1px 10px 0 0;
}

.footer__copy {
  background-color: #232323;
  color: #b8b8b8;
}

.footer-border {
  margin-top: 50px;
  margin-bottom: 30px;
  border-top: 2px solid #282828;
}

.footer__text {
  text-align: center;
  font-size: 12px;
  color: #686868;
}

form input {
  color: #fff;
}

form input[type="email"] {
  padding: 8px;
  height: 45px;
  width: 288px;
  border: 1px solid #d3d3d3;
  background-color: #232323;
}

form input[type="placeholder"] {
  color: #a1a1a1;
}

button.btn.btn-submit {
  width: 124px;
  height: 45px;
  color: #232323;
  background: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
  border-radius: 1px;
  margin-left: 12px;
  border: 1px solid #d3d3d3;
}
button.btn.btn-submit:hover {
  opacity: 0.9;
}

/* Social */
.social-icons {
  display: flex;
  margin-top: 36px;
}

.social-icons a {
  margin-right: 32px;
}

.social-icons img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.social-icons img:hover {
  opacity: 0.9;
}
